# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
myenv/
venv/
.env

# Environment variables
.env

# Docker
docker/
docker-compose.yml

# System files
.DS_Store
Thumbs.db

# Ignore migration cache
*.sqlite3

# Ignore test output
*.log
coverage/
htmlcov/
